@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: var(--font-open-sans);
}
.bebas {
  font-family: var(--font-bebas-neue);
}
@layer utilities {
  .text-dark {
    @apply text-primary-dark;
  }
  .text-light {
    @apply text-primary-light;
  }
  .wrapper {
    @apply mx-auto max-w-7xl;
  }
  .header-text {
    @apply py-10 text-center text-3xl font-bold uppercase;
    font-family: var(--font-bebas-neue);
  }
}
